/* CSS Document */

body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
.titulo {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#990000;
}