/* 
    Document   : newCascadeStyleSheet
    Created on : 13/11/2008, 08:04:14
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

