table.papeleta {
    font: 0.85em verdana, arial, tahoma, sans-serif;
    border: 0.0015em solid; 
    border-collapse: collapse;
    border-spacing: 0px;
}   
    
.papeleta td {
    font: 0.85em verdana, arial, tahoma, sans-serif;
    border: 0.0015em solid;
    padding: 5px;
    border-collapse: collapse;
    border-spacing: 1px;
}

.papeleta a {
    text-decoration: none;
    color: #00047D;
    /*border-bottom: 2px #eee dotted;*/

}

.papeleta a:hover {
    text-decoration: underline;
    color: #00047D;
}

.papeleta a:visited, a:active {
    color: #00047D;
}


.opcoes_diario {
	line-height: 2em;
}

.opcoes_diario a {
    text-decoration: none;
    color: #00047D;
    border-bottom: 2px #eee dotted;

}

.opcoes_diario a:hover {
    text-decoration: underline;
    color: #00047D;
}

.opcoes_diario a:visited, a:active {
    color: #00047D;
}

