INPUT {
	font-family:Verdana, Arial, Helvetica;
	font-size:10px; 
	color:#000099;
	background-color:#EBEBEB; 
	width-left-margin: 1px; 
	border: 1px #000099 solid; 
	padding-top: 1px; 
	padding-right: 1px; 
	padding-bottom: 1px; 
	padding-left: 1px;
} 

TEXTAREA {
	font-family:Verdana, Arial, Helvetica;
	font-size:9px;
	color:#000000;
	background-color:#FFFFFF; 
	border: #000000; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
}

td {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: normal; 
	font-variant: normal; 
	text-transform: none; 
	color: #000000; 
	text-decoration: none;
}

select { 
	font-family:Verdana, Arial, Helvetica;
	font-size:10px;
	color:#000099; 
	background-color:#EBEBEB; 
	width-left-margin: 1px;
	border: 1px #000099 solid; 
	padding-top: 1px; 
	padding-right: 1px; 
	padding-bottom: 1px; 
	padding-left: 1px ; 
	margin-top: 1px; 
	margin-right: 1px; 
	margin-bottom: 1px; 
	margin-left: 1px; 
	width: 180;
}

.select { 
	font-family:Verdana, Arial, Helvetica;
	font-size:10px;
	color:#000099; 
	background-color:#EBEBEB; 
	width-left-margin: 1px; 
	border: 1px #000099 solid; 
	padding-top: 1px; 
	padding-right: 1px; 
	padding-bottom: 1px; 
	padding-left: 1px ; 
	margin-top: 1px; 
	margin-right: 1px; 
	margin-bottom: 1px; 
	margin-left: 1px; 
	width: 300;
}

.checkbox {  
	border: #999999; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 0px;
}

h2 {
	font-face: verdana;
}

h1 {
	font-face: verdana;
}

.papeleta table {  
	border: 0.06em solid ; 
	border-collapse: collapse; 
	border-spacing: 0px; 
	padding: 0px;
}

.papeleta th { 
	border: 0.03em solid ; 
	padding: 1px; 
	border-collapse: collapse; 
	border-spacing: 0px;
	}
	
.papeleta td { 
	border: 0.03em solid ; 
	padding: 1px; 
	border-collapse: collapse; 
	border-spacing: 0px;
}